{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="fluid-container" style="background-image:url('/static/image/about/backdrop.png');">
    <div class="container">
        <div class="row hero mt-3">
            <div class="col-5">
                <img src="{% static 'image/about/Mobile.svg' %}" alt="Join Us Now" width="375px;" style="padding-bottom:30px;">
            </div>
            <div class="col-7">
                <p style="font-size:32px;text-align:justify;">We bridge the gap between the educated and the unemployed with our online skill development internship programs with </p>
                <p style="font-size:55px;text-align:justify;"><b><u style="text-decoration-color:green;text-decoration-thickness:1px;">Lifelong</u> Placement.</b></p>
                <p style="font-size:30px;">assistance!</p>
                <p style="font-size:20px;text-align:justify;padding-top:20px;padding-bottom:20px;"> Inmakes Learning Hub is an e-learning platform providing various skill development internship programs under senior skilled professionals who help individuals pave new paths for their careers.</p>
                <p  style="font-size:20px;text-align:justify;">We provide a range of professional internship programs like Python, Java, Digital Marketing, and more</p>
                <div class="row mt-3">
                    <div class="col-2">
                        <p style="font-size:30px;text-align:center;"><b>15000+</b></p>
                        <p style="font-size:20px; text-align:center;">INTERNS</p>
                    </div>
                    <div class="col-2">
                        <p style="font-size:30px;text-align:center;"><b>50+</b></p>
                        <p style="font-size:20px; text-align:center;">CERTIFICATIONS</p>
                    </div>
                    <div class="col-2">
                        <p style="font-size:30px;text-align:center;"><b>500+</b></p>
                        <p style="font-size:20px; text-align:center;">TEAM MEMBERS</p>
                    </div>
                    <div class="col-2">
                        <p style="font-size:30px;text-align:center;"><b>5000+</b></p>
                        <p style="font-size:20px; text-align:center;">HIRING PARTNERS</p>
                    </div>
                    <p style="padding-top:20px;"><b>A Company with Govt recognized certificates and Recognized by:</b></p>
                    <div class="col-2" style="padding-top:20px;">
                        <img src="{% static 'image/about/c1.png' %}" alt="">
                    </div>
                    <div class="col-2" style="padding-top:20px;">
                        <img src="{% static 'image/about/c5.png' %}" alt="">
                    </div>
                    <div class="col-2" style="padding-top:20px;">
                        <img src="{% static 'image/about/c3.png' %}" alt="">
                    </div>
                    <div class="col-2" style="padding-top:20px;">
                        <img src="{% static 'image/about/c4.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row" style="padding-top:30px;">
        <div class="col-12 choose">
            <h3 style="font-family:Montserrat,sans-serif;font-size:35px;"><b><u style="text-decoration-color:green;text-decoration-thickness:1px;">The Difference at</u> Inmakes!</b></h3>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/un1.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">One-to-One<br>Personal Mentorship</h5>
                    <p class="card-text" style="text-align:center;color:white;">Experienced professionals will impart a one-to-one caring mentorship to the interns to help them upskill fast, enabling them to take on the industry</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/unq7.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">Training in Native Language</h5>
                    <p class="card-text" style="text-align:center;color:white;">Interns will get training in the native language to get a complete practical under- standing of the program and to understand every technical aspect of the program.</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/unq4.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">Flexible Time Schedule</h5>
                    <p class="card-text" style="text-align:center;color:white;">The internship training videos get uploaded to cloud servers, so students can access the classes at their convenience by spending just 30 mins every day.</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/unq3.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">50+ International<br>Certifications</h5>
                    <p class="card-text" style="text-align:center;color:white;">A company with 15+ government accreditations and certifications, so get credible internship certifications after your internship program to boost your portfolio.</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/unq6.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">Challenge/Task<br>Based Training</h5>
                    <p class="card-text" style="text-align:center;color:white;">Complete challenges and tasks after each module to improve skills, enabling the intern to understand every aspect of the program and excel in their career.</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/unq5.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">Program Swapping</h5>
                    <p class="card-text" style="text-align:center;color:white;">Get the option to swap to a different program if the intern is unable to cope with the existing program after 20 working days or 15% class completion.</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/unq2.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">Life-long Placement Assistance</h5>
                    <p class="card-text" style="text-align:center;color:white;">Get an unlimited number of placements from our placement and HR team with good packages and also place them multiple times as per the interns’ requirements</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/unq8.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">5000+ Hiring Partners</h5>
                    <p class="card-text" style="text-align:center;color:white;">Hiring tie-ups with more than 5000 companies across India to ensure the placement of every intern who successfully completes our internship program.</p>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:30px;">
            <div class="shadow card mb-3 h-100" style="background-color:#002333;border-radius:30px;">
                <img src="{% static 'image/about/unq9.png' %}" width="80px;" class="mx-auto" style="padding-top:20px">
                <div class="card-body">
                    <h5 class="card-title" style="text-align:center;color:white;">Experienced Professionals will be Trainers</h5>
                    <p class="card-text" style="text-align:center;color:white;">Get Practical skills and knowledge from the experts in the industry having 10+ years of work experience to make you job-ready quickly.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


































